.filter-box {
  display: block;
  margin: 10px 0;

	@include mq_min(768px) {
		display: grid;
		grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
		grid-column-gap: 15px;
		grid-row-gap: 40px;
	}
}

.filter {
  margin: 0 5px 10px;
  flex: 1 0 auto;
  padding: 4px 8px 6px;
  position: relative;

	.title {
		color: #323232;
		font-weight: 700;
		font-size: 16px;
		display: flex;
		margin-bottom: 5px;
	}

  .filter-close {
    cursor: pointer;
    font-size: 10px;
    color: transparent;
    margin-left: 10px;
		width: 16px;
		height: 16px;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%2212%22%20viewBox%3D%220%200%2010%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M1%2010.6719C1%2010.849%201.03125%2011.0208%201.09375%2011.1875C1.16667%2011.3438%201.26562%2011.4844%201.39062%2011.6094C1.51562%2011.7344%201.65625%2011.8333%201.8125%2011.9062C1.97917%2011.9688%202.15104%2012%202.32812%2012H7.67188C7.84896%2012%208.01562%2011.9688%208.17188%2011.9062C8.33854%2011.8333%208.48438%2011.7344%208.60938%2011.6094C8.73438%2011.4844%208.82812%2011.3438%208.89062%2011.1875C8.96354%2011.0208%209%2010.849%209%2010.6719V2.67188H1V10.6719ZM9.67188%200.671875H7.32812L6.67188%200H3.32812L2.67188%200.671875H0.328125V2H9.67188V0.671875Z%22%20fill%3D%22%23FF7948%22/%3E%0A%3C/svg%3E%0A');
		background-repeat: no-repeat;
		background-position: 50%;
		transform: translateY(2px);
		transition: transform .2s;

    &:hover {
			transform: translateY(2px) scale(1.1);
		}
  }
}

