@import "../../../../../style/globals.scss";

:host {

  .valueinput-state {
    font-size: 0.7em;
  }

  label {
    margin-left: 18px !important;
  }

  .value-input-wrapper {
		position: relative;
    .value-mode-button {
      position: absolute;
      margin: 11px 0 0 5px;
      padding: 0.4em;
			color: $blue;
			font-weight: 700;
			cursor: pointer;
    }

		.form-control {
			color: $blue;
			font-size: 16px;
			padding-left: 26px;

			&:hover {
				border-color: $blue;
			}
		}

  }

  .labeled-input-container.empty label {
    width: calc(100% - 70px);
    display: inline-block;
  }
}
