.about {
	&__flex-wrap {
		width: 100%;

		& + & {
			margin-top: 30px;
		}
	}

	&__group {
		& + & {
			margin-top: 40px;
		}
	}

	&__group-label {
		margin-bottom: 20px;
	}

	&__title {
		margin: 20px 0;
	}

	&__text {
		line-height: 1.4;

		& + & {
			margin-top: 15px;
		}
	}

	h2 + &__text,
	h4 + &__text,
	&__text + h2,
	&__text + h4 {
		margin-top: 15px;
	}

	.mb {
		&_30 {
			margin-bottom: 30px;
		}
	}

	@include mq_min(768px) {
		&__flex-wrap {
			display: flex;
			justify-content: space-between;
		}
	}
}
