.btn {
	font-size: 14px;
	font-weight: 700;
	padding: 16px 40px;
	background-color: transparent;
	border-radius: 4px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	transition: background-color .2s;

	&_main {
		color: #fff;
		background-color: $blue;
	}

	&_small {
		padding: 6px 20px;
	}

	&_main-inverted {
		color: $blue;
		border: 1px solid $blue;

		&:hover {
			background-color: rgba($blue, .1);
		}
	}

	&_with-icon {
		display: inline-flex;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;

		&_download {
			&::before {
				display: block;
				content: '';
				width: 24px;
				height: 18px;
				margin-right: 6px;
				background-repeat: no-repeat;
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2217%22%20viewBox%3D%220%200%2024%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M19.3594%206.53125C19.1875%205.67188%2018.875%204.875%2018.4219%204.14062C17.9844%203.40625%2017.4375%202.76563%2016.7812%202.21875C16.1406%201.6875%2015.4062%201.27344%2014.5781%200.976562C13.7656%200.664062%2012.9062%200.507812%2012%200.507812C11.2812%200.507812%2010.5859%200.609375%209.91406%200.8125C9.25781%201%208.64062%201.26563%208.0625%201.60938C7.48438%201.96875%206.96094%202.39844%206.49219%202.89844C6.03906%203.39844%205.65625%203.94531%205.34375%204.53906C4.59375%204.61719%203.89062%204.82812%203.23438%205.17188C2.59375%205.51562%202.03125%205.95312%201.54688%206.48438C1.0625%207.01562%200.679688%207.625%200.398438%208.3125C0.132812%209%200%209.72656%200%2010.4922C0%2011.3203%200.15625%2012.1016%200.46875%2012.8359C0.78125%2013.5703%201.21094%2014.2031%201.75781%2014.7344C2.30469%2015.2812%202.9375%2015.7109%203.65625%2016.0234C4.39062%2016.3359%205.17188%2016.4922%206%2016.4922H19.0078C19.6953%2016.4922%2020.3438%2016.3672%2020.9531%2016.1172C21.5625%2015.8516%2022.0859%2015.4922%2022.5234%2015.0391C22.9766%2014.5859%2023.3359%2014.0547%2023.6016%2013.4453C23.8672%2012.8359%2024%2012.1875%2024%2011.5C24%2010.8438%2023.875%2010.2266%2023.625%209.64844C23.3906%209.05469%2023.0625%208.53906%2022.6406%208.10156C22.2344%207.64844%2021.7422%207.28906%2021.1641%207.02344C20.6016%206.74219%2020%206.57812%2019.3594%206.53125ZM16.9922%209.50781L12%2014.5L7.00781%209.50781H10.0078V5.5H13.9922V9.50781H16.9922Z%22%20fill%3D%22%231954A5%22/%3E%0A%3C/svg%3E%0A');
				background-position: 50%;
			}
		}
	}
}


@import "../../../style/globals.scss";

.info-button {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2222%22%20height%3D%2221%22%20viewBox%3D%220%200%2022%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M11%200.492188C9.625%200.492188%208.32812%200.757813%207.10938%201.28906C5.89062%201.80469%204.82812%202.51563%203.92188%203.42188C3.01562%204.32812%202.29688%205.39062%201.76562%206.60938C1.25%207.82812%200.992188%209.125%200.992188%2010.5C0.992188%2011.875%201.25%2013.1719%201.76562%2014.3906C2.29688%2015.6094%203.01562%2016.6719%203.92188%2017.5781C4.82812%2018.4844%205.89062%2019.2031%207.10938%2019.7344C8.32812%2020.25%209.625%2020.5078%2011%2020.5078C12.375%2020.5078%2013.6719%2020.25%2014.8906%2019.7344C16.1094%2019.2031%2017.1719%2018.4844%2018.0781%2017.5781C18.9844%2016.6719%2019.6953%2015.6094%2020.2109%2014.3906C20.7422%2013.1719%2021.0078%2011.875%2021.0078%2010.5C21.0078%209.125%2020.7422%207.82812%2020.2109%206.60938C19.6953%205.39062%2018.9844%204.32812%2018.0781%203.42188C17.1719%202.51563%2016.1094%201.80469%2014.8906%201.28906C13.6719%200.757813%2012.375%200.492188%2011%200.492188ZM12.0078%2015.4922H9.99219V9.49219H12.0078V15.4922ZM12.0078%207.5H9.99219V5.50781H12.0078V7.5Z%22%20fill%3D%22%231954A5%22/%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 22px;
	transform: translateY(5px);
	margin-left: 7px;
	cursor: help;
	position: relative;
	z-index: 2;
	//
	//&__content {
	//	position: absolute;
	//	min-width: 365px;
	//	background-color: #E2F0FF;
	//	border: 1px solid $blue;
	//	border-radius: 5px;
	//	box-shadow: 0 0 10px 0 #ccc;
	//	padding: 15px 20px;
	//	color: $blue;
	//	font-size: 12px;
	//	line-height: 15px;
	//	font-weight: 400;
	//	left: -100px;
	//	top: 40px;
	//	opacity: 0;
	//	transform: translateY(20px);
	//	pointer-events: none;
	//
	//	transition: opacity .2s, transform .2s;
	//
	//	&::before {
	//		position: absolute;
	//		display: block;
	//		content: '';
	//		width: 12px;
	//		height: 12px;
	//		background-color: #E2F0FF;
	//		border-left: 1px solid $blue;
	//		border-top: 1px solid $blue;
	//		transform: translateX(-50%) rotate(45deg);
	//		top: -7px;
	//		left: 111px;
	//	}
	//
	//	&.active {
	//		opacity: 1;
	//		transform: translateY(0);
	//		pointer-events: auto;
	//	}
	//}
}
