@import "../../../../style/globals.scss";

.accordion {
	&__title {
		font-size: 20px;
		line-height: 1.4;
		font-weight: 700;
		display: flex;
		align-items: center;
		color: $blue;
		cursor: pointer;

		&::after {
			width: 18px;
			height: 9px;
			display: block;
			background-color: $blue;
			content: '';
			margin-left: 5px;
			clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
		}

		&.active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}

	&__text {
		margin-top: 15px;
		line-height: 1.4;
	}
}
