<div class="page-footer">
		<div class="page-footer__content page-footer__content_bgc_accent">
			<div class="container">
				<div class="page-footer__row">
					<div class="page-footer__cols page-footer__cols_3">
						<div class="page-footer__col">
							<ul class="page-footer__col-list">
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/dashboards/market-analysis']" i18n>Market analysis</a></li>
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/dashboards/transparency']" i18n>Transparency</a></li>
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/dashboards/integrity']" i18n>Integrity</a></li>
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/search/tender']" i18n>Search</a></li>
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/download']" i18n>Download</a></li>
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/about/about-opentender']" i18n>About</a></li>
							</ul>
						</div>
						<div class="page-footer__col">
							<ul class="page-footer__col-list">
								<li class="page-footer__col-list-item"><a href="http://redflags.govtransparency.eu" target="_blank" rel="noopener" class="page-footer__col-list-link" i18n>Red Flags Project Page</a></li>
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/imprint']" pageScroll="#contact" i18n>Contact</a></li>
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/imprint']" pageScroll="#legal" i18n>Legal Notice</a></li>
								<li class="page-footer__col-list-item"><a class="page-footer__col-list-link" [routerLink]="['/imprint']" pageScroll="#privacy" i18n>Privacy Policy</a></li>
							</ul>
						</div>
						<div class="page-footer__col">
							<ul class="page-footer__col-list">
								<li class="page-footer__col-list-item"><a href="https://twitter.com/corruption_red" target="_blank" rel="noopener" class="page-footer__col-list-link page-footer__col-list-link_twitter" i18n>Follow Us on Twitter</a></li>
								<li class="page-footer__col-list-item"><a href="https://opentender.us12.list-manage.com/subscribe/post?u=961461fc5e4bda742e2ffb764&id=896595d352" target="_blank" rel="noopener" class="page-footer__col-list-link page-footer__col-list-link_subscribe" i18n>Subscribe the mailing list</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-footer__content">
			<div class="container">
				<div class="page-footer__row">
					<div class="page-footer__cols page-footer__cols_jc_sb">
						<div class="page-footer__wrap">
							<p class="page-footer__text page-footer__text_callout" i18n>Questions or comments? Found a data error?</p>
							<p class="page-footer__text" i18n>Contact Opentender at <a href="mailto:{{contactmail}}" class="page-footer__link">{{contactmail}}</a>.</p>
						</div>
						<div class="page-footer__wrap">
							<p class="page-footer__text">
								<ng-container i18n>This portal is part of the 'Curbing Corruption in Public Procurement' project, funded by the Global Integrity Anti-Corruption Evidence (ACE) programme. The ACE programme is funded with UK aid from the British people.</ng-container>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
