<div class="table-filter-buttons">
	<select-columns-button [columns_all]="all_columns" [columns_active]="columns" [title]="title" [title_value]="titleValue" [loading]="loading" (selectChange)="onSelectColumns($event)" (restore)="setDefaultColumns()"></select-columns-button>
</div>
<doc-table [table]="table" (sortChange)="sortChange($event)"></doc-table>
<div class="graph-footer">
	<div class="graph-toolbar">
		<button class="btn btn_small btn_main-inverted btn_with-icon btn_with-icon_download" (click)="this.showDownload()" i18n-title title="Download data as gzipped JSON"><ng-container i18n>Download Data</ng-container></button>
	</div>
</div>
<pagination class="pagination" [total]="total" [defaultPageSize]="defaultPageSize" [defaultPage]="defaultPage" (paginationChange)="paginationChange($event)"></pagination>

<app-dialog i18n-title title="Download Data" [(visible)]="showDownloadDialog">
	<div *ngIf="!downloadRequested">
		<br/>
		<ng-container i18n>The download contains {{total}} entries and the compressed file size will be approximately over {{total/1000*1200000 | formatFileSize}}.</ng-container>
		<br/>
		<ng-container i18n>Files are compressed with <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Gzip">GZip</a>, which should be supported by your ZIP application.</ng-container>
		<br/>
		<br/>
		<button class="btn btn_small btn_main-inverted btn_with-icon btn_with-icon_download" (click)="this.download('json')" i18n-title title="Download data as gzipped JSON">JSON.GZ</button>
		<button class="btn btn_small btn_main-inverted btn_with-icon btn_with-icon_download" (click)="this.download('csv')" i18n-title title="Download data as gzipped CSV">CSV.GZ</button>
	</div>
	<div *ngIf="downloadRequested">
		<br/>
		<ng-container i18n>Download requested</ng-container> <i class="icon icon-spinner2 icon-rotate"></i>
		<br/>
		<br/>
		<button class="button" (click)="showDownloadDialog=false;" i18n>Cancel</button>
	</div>
</app-dialog>
