@import "../../../style/globals.scss";

.page-header {
	background-color: $headercolor;
	padding: 10px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	max-width: 100vw;
	z-index: 99;

	&__content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__mobile-nav-list {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		border-bottom: 1px solid rgba($blue, .1);
	}

	&__mobile-nav-item {
		display: block;
		padding: 13px 30px;
		border-top: 1px solid rgba($blue, .1);
		background-color: $headercolor;

		&.active {
			color: #36bba4;
		}
	}

	&__desktop-nav {
		display: none;
	}

	&__desktop-nav-item {
		font-weight: 700;
		padding: 16px 16px 29px;
		border-radius: 7px 7px 0 0;

		&:hover {
			background-color: #fff;
			text-decoration: none;

			&.active_has-sub-menu {
				background-color: #D5EDE8;
			}
		}

		&.active {
			background-color: #fff;

			&.active_has-sub-menu {
				background-color: #D5EDE8;

			}
		}

		& + & {
			margin-left: 8px;
		}
	}

	.header-logo {
		display: flex;
		align-items: center;

		&:hover {
			text-decoration: none;
		}

		&__brand {
			margin-left: 10px;

		}

		&__brand-name,
		&__brand-country {
			margin: 0;
			font-weight: 700;
			color: $blue;
		}
	}

	@include mq_min(1024px) {
		position: static;
		box-shadow: none;
		padding: 20px 0;

		&__mobile-nav {
			display: none;
		}

		&__desktop-nav {
			display: block;
		}
	}
}

.page-sub-header {
	background-color: #D5EDE8;
	padding: 10px 0 0;
	position: absolute;
	width: 100%;
	left: 0;
	top: 58px; //header height

	&__nav-list {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	&__nav-list-item {
		font-weight: 700;
		padding: 9px 15px 11px;
		margin: 0 4px;
		border-radius: 7px 7px 0 0;

		&.active {
			background-color: #fff;
			cursor: default;
		}

		&:hover {
			background-color: #fff;
			text-decoration: none;
		}
	}

	@include mq_min(1024px) {
		top: 78px; //header height
	}
}
