<breadcrumb [crumbs]="crumbs"></breadcrumb>
<loading [loading]="!company" [notFound]="notFound"></loading>
<div class="container-outer entity" *ngIf="company">
	<div class="container container-padded-bottom">
		<h1 class="container-title">{{company.name | nameGuard}}</h1>
	</div>
	<div class="container">
		<div class="container-left-9">
			<body-address [address]="company.address"></body-address>
			<br/>
			<select-similar-list i18n-caption caption="Similar Companies" icon="icon-office" link="/company/" [current]="this.company" [similar]="this.similar" (selectChange)="similarChange($event)"></select-similar-list>
		</div>
		<div class="container-left-3">
			<div class="info-links">
				<div class="info-link-box">
					<ng-container i18n>Link</ng-container>
<!--					<ng-container i18n>Search this company at</ng-container>-->
<!--					<br>-->
<!--					<a target="_blank" rel="noopener" href="https://register.openownership.org/search?utf8=%E2%9C%93&q={{ company.name | encodeURIComponent }}"><i class="icon-new-tab"></i> OpenOwnership.org</a><br>-->
<!--					<a target="_blank" rel="noopener" href="https://lobbyfacts.eu/search/node/{{ company.name | encodeURIComponent }}"><i class="icon-new-tab"></i> LobbyFacts.eu</a>-->
<!--					<a target="_blank" rel="noopener" href="http://farmsubsidy.openspending.org/search/?q={{ company.name | encodeURIComponent }}"><i class="icon-new-tab"></i> FarmSubsidy.org</a>-->
				</div>
<!--				<div class="info-link-box" *ngIf="country.foi">-->
<!--					<ng-container i18n>Find Freedom of Information requests at</ng-container>-->
<!--					<br>-->
<!--					<a target="_blank" rel="noopener" href="{{ company.name | foiSearchLink: country }}"><i class="icon-new-tab"></i> {{country.foi.name}}</a>-->
<!--				</div>-->
			</div>
		</div>
	</div>


	<div [ngClass]="{'is-loading': loading>0}">
		<div class="container container-margin">
			<div class="container">
				<div class="container-left-6">
					<graph histogram [data]="viz.lots_in_years.data"></graph>
				</div>
				<div class="container-left-6">
					<graph sectors
								 [tooltip]="[
								 	'The figure shows the number of tenders this supplier has won in different sectors. Contracts are categorized into sectors by defining product markets (CPV codes) based on the contract information. See more on the details of contract categorization and the CPV nomenclature in the Data Explainer on the About page.'
								 ]"
								 [data]="viz.cpvs_codes.data"
					></graph>
				</div>
			</div>
			<br/>
			<div class="container">
				<div class="container-left-6">
					<graph authorities [data]="viz.top_authorities.data" [title]="viz.top_authorities.title"></graph>
				</div>
				<div class="container-left-6">
					<graph buyer-nutsmap [data]="viz.authority_nuts.data"></graph>
				</div>
			</div>
			<br/>
			<div class="container">
				<div class="container-left-12">
					<graph benchmarks
								 [tooltip]="['Compare the selected supplier to all other suppliers using different indicators. Choose either the overall Good Procurement Score, which combines all Transparency and Integrity Indicators, or the individual Transparency or Integrity indicators. You can limit the comparison to suppliers operating in the same sector if you tick the \'Limit to same sector\' box. For further details see the Data Explainer on the About page.']"
								 [data]="viz.stats.data"
								 [title]="viz.stats.title"
								 [entityTitle]="company.name"
								 [filters]="viz.stats.filters"
								 [footerLegend]="REGION_BENCHMARK"
								 (filtersChange)="benchmarkFilterChange($event)"
					></graph>
				</div>
			</div>
			<br>
		</div>
		<div class="container">
			<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);" (columnsChange)="updateColumns($event)" (refreshColumns)="setDefaultColumns()"></tender-table>
		</div>
	</div>
</div>
