.slab-alpha {
  background-color: $white;
}

.slab-beta {
  background-color: $light-gray;
}

.slab-beta-light {
  background-color: #E2F0FF; //slightly lighter, for contrast
}

.slab-beta-dark {
  background-color: $light-gray-dark; //slightly darker, for contrast
}

.slab-charlie {
  background-color: $mid-gray;
}

.slab-delta {
  background-color: $color-primary-0; // $light-green;
}

.slab-info {
  background-color: $light-yellow;
}

.slab-echo {
  background-color: #fff;
}

.slab-foxtrot {
  background-color: $mid-blue;
}

.slab-border-light {
  border: 1px solid $mid-gray;
}

