<breadcrumb [crumbs]="crumbs"></breadcrumb>
<loading [loading]="!region" [notFound]="notFound"></loading>
<div class="container-outer entity" *ngIf="region">
	<div class="container">
		<h1 class="container-title">{{region.name}}</h1>
	</div>
	<div [ngClass]="{'is-loading': loading>0}">
		<div class="container container-margin">
			<div class="container">
				<div class="container-left-12" *ngIf="region.level>=3">
					<div class="graph-title" i18n>Number of Tenders in Region</div>
					<graph nutsmap [data]="viz.child_regions.data" [level]="region.level"></graph>
				</div>
				<div class="container-left-12" *ngIf="region.level<3">
					<div class="graph-title" i18n>Number of tenders in sub-regions</div>
					<graph nutsmap [data]="viz.child_regions.data" [level]="region.level+1"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph companies [showTooltip]="false" [data]="viz.top_companies.data" [title]="viz.top_companies.title"></graph>
				</div>
				<div class="container-left-6">
					<graph authorities [showTooltip]="false" [data]="viz.top_authorities.data" [title]="viz.top_authorities.title"></graph>
				</div>
			</div>
			<div class="container">
				<graph benchmarks
					 [tooltip]="[
							'Benchmark the selected region using different indicators and compare its annual scores to the national average. Choose between the overall Good Procurement Score, which combines all Transparency and Integrity Indicators, and the individual Transparency or Integrity indicators, or compare the region by contract values.',
							'The Integrity Indicators are a number of red flags that indicate a risk of low level of integrity in a procurement process. They evaluate different elements of the process of awarding contracts such as the length of the tender advertisement period, as well as key outputs such as number of bidders. For further details see the Data Explainer on the About page.',
							'The Transparency Indicators represent the availability of crucial pieces of information, such as the names of buyers and bidders, dates, the number of bids, the contract value, and the procedure type. For further details see the Data Explainer on the About page.'
						]"
					 [data]="viz.benchmarks.data"
					 [title]="viz.benchmarks.title"
					 [entityTitle]="region.name"
					 [filters]="viz.benchmarks.filters"
					 [footerLegend]="REGION_BENCHMARK"
					 (filtersChange)="benchmarkFilterChange($event)"
				></graph>
			</div>
		</div>
		<div class="container">
			<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);"  (columnsChange)="updateColumns($event)" (refreshColumns)="setDefaultColumns()"></tender-table>
		</div>
	</div>

</div>
