<section class="section">
	<div class="container">
		<div class="section__heading">
			<h1 class="section__heading-title" i18n>About Opentender</h1>
		</div>
		<div class="section__content">
			<div class="about">
				<div class="about__flex-wrap">
					<accordion [title]="'Where does the data come from?'">
						<p class="accordion__text">The public procurement data published on Opentender Uganda was collected from the Government Procurement Portal (GPP) that was launched in 2015, under the supervision of the autonomous regulatory body, the Public Procurement and Disposal of Public Assets Authority (PPDA). The data covers the period of 2016-2019. There were 38721 unique tenders and 31191 unique awarded contracts available. Separate datasets could be merged by process ID. There was a complete overlap in awarded contracts’ and tendering processes. However, there were 8422 unawarded tenders. Source: <a class="accordion__link" target="_blank" href="http://open-data.africafoicentre.org/datasets/datasets-home">http://open-data.africafoicentre.org/datasets/datasets-home</a></p>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'Improvement and standardization of geographic information in the dataset'">
						<p class="accordion__text">In order to show regional level aggregated information on the website, we needed precise addresses but the original data source lacked any geographic information. To get exact and consistent addresses for all contracts, we gathered geographic information manually on all buying entities using Google search, then we matched them to the dataset by buyer name. Based on the addresses, we were able to assign regional codes to the contracts. We categorised all contracts into four geographic subdivisions.</p>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'Standardization of products and services'">
						<p class="accordion__text">In order to show market level aggregated information, we needed to classify products and services into groups. As source data lacked information on product classification, we assigned CPV (Common Procurement Vocabulary) product codes to tenders based on a list of keywords including the first 100 most frequent expressions product descriptions and an additional list of healthcare related words.</p>
						<p class="accordion__text">CPV codes are 8 digit codes, where the first 2 digits specify divisions, higher market levels, such as ‘33-Medical equipment, pharmaceutical products’, the first 3 digits refers to groups, for example ‘331-Medical equipments’, the first 4 digits identify classes, for example:‘3316- Operating techniques’, and the first 5 digits indicate categories, for example ‘33161-Electrosurgical unit‘. Source: <a class="accordion__link" target="_blank" href="https://simap.ted.europa.eu/cpv">https://simap.ted.europa.eu/cpv</a></p>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'Classification of procedure types'">
						<p class="accordion__text">Public procurement procedure types are classified into higher level, internationally comparable groups based on the level of competition they allow. In Uganda, the original data source classifies procedure types using OCDS (Open Contracting Data Standard) terminology: open, direct, limited, selective. We labelled direct contracts as ‘outright award’, limited and selective tenders as ‘restricted’.</p>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'Classification of buyer types'">
						<p class="accordion__text">In the Opentender Uganda website, there is an option to limit the comparison to buyers with the same buyer type in the benchmarking part of the buyer profile page. We grouped buyers into the following categories: national authority, national agency, public body, regional authority, regional agency and other.</p>
						<p class="accordion__text">National authorities are at the central level of government. Entities with regulatory power like ministries, national councils and commissions fall into this category. Regional and local authorities have limited decision making power, providing public services at regional or municipal level. Hospitals, universities, regional administrations are included in these categories.</p>
						<p class="accordion__text">Buyer types were assigned to procuring entities by using a list of keywords (‘ministry’, ‘national’, ‘regional’, ‘university’, etc.), which appeared in the buyers’ name. ‘Other’ category was assigned if the buyer name was available but could not be classified with the abovementioned method.</p>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'Definition of Integrity Indicators'">
						<p class="accordion__text">The Integrity Indicator methodology is based on a corruption definition specific to public procurement, which refers to the allocation and performance of public contracts by distorting the principles of open and fair government contracting in order to benefit some to the detriment of all others. In other words, the aim of corruption is to avoid or distort competition in order to favour a certain, connected bidder.</p>
						<p class="accordion__text">One way to measure this phenomenon is to consider the lack of bidders for government contracts (single-bidding) as an outcome, whereas, adverse tendering practices (for example, choosing non-open procedure types and shortening advertising period) as inputs of the low-integrity procurement process. The ‘red flags’, that are most likely to signal integrity risks, were identified in a statistical analysis. Tendering characteristics that had a significant and positive relationship with single-bidding are defined as red flags.</p>
						<p class="accordion__text">Integrity Indicator list in Uganda:</p>
						<ul class="accordion__list">
							<li class="accordion__list-item"><strong>Single bidder contract</strong>: Single bidding is the simplest indication of restricted competition reflecting our corruption definition when only one bid is submitted for a tender on a competitive market (for further discussion of single bidding see Charron, Dahlström, Fazekas, & Lapuente, 2017). Sources: <a class="accordion__link" target="_blank" href="http://www.govtransparency.eu/index.php/2017/07/05/careers-connections-and-corruption-risks-investigating-the-impact-of-bureaucratic-meritocracy-on-public-procurement-processes/">http://www.govtransparency.eu/index.php/2017/07/05/careers-connections-and-corruption-risks-investigating-the-impact-of-bureaucratic-meritocracy-on-public-procurement-processes/</a></li>
							<li class="accordion__list-item"><strong>Length of advertisement period</strong>: A short submission period, that is the number of days between publishing a tender and the submission deadline, leaves less time and thus makes it harder for non-connected companies to bid successfully, whereas a well-connected firm can use its inside knowledge to win repeatedly as the buyer can informally inform the favoured bidder about the opportunity ahead of time.</li>
							<li class="accordion__list-item"><strong>Call for tenders publication</strong>: Not publishing the call for tenders makes it less likely that eligible bidders notice the bidding opportunity, weakening the competition and allowing the contracting bodies to more easily award contracts repeatedly to a well-connected company.</li>
							<li class="accordion__list-item"><strong>Procedure type</strong>: Using procedure types which are less transparent and require less open competition can indicate the deliberate limitation of the range of bids received and to exclude bids as well as creating more opportunities for contracting bodies to repeatedly award contracts to the same well-connected company.</li>
							<li class="accordion__list-item"><strong>Length of decision period</strong>: an excessively short or long decision period, that is the number of days between the submission deadline and the contract award decision, can signal integrity risks. Snap decisions may reflect premeditated assessment, while long decision periods signal extensive legal challenges to the tender, suggesting that the issuer attempted to limit competition.</li>
							<li class="accordion__list-item"><strong>Cost overrun</strong>: there might be justifiable reasons for additionally purchased goods and services that were not part of the original contract, however it can be used as a practice to gain extra profit for the corrupt network, e.g. if the favoured company could only win by offering the lowest price, which would be compensated by this additional, or unnecessary extra expenses from the buyer’s side.</li>
							<li class="accordion__list-item"><strong>Winner's contract share</strong>: Suppliers' share in a buyer's total spending can be used to measure the level of competitiveness and market openness. High supplier spending share, when a supplier or group of suppliers are awarded most procurement spending per buyer, can signal that a network has captured public contracting, potentially leading to higher prices, lower quality of work and value for money.</li>
						</ul>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'Calculation of Integrity Indicators'">
						<p class="accordion__text">The higher value of the Integrity Indicators indicate that the examined factor does not increase the probability of single bidding, while the low value means that it can contribute to single bidding.</p>
						<table class="accordion__table">
							<tr>
								<th>Indicator name</th>
								<th>Formula</th>
							</tr>
							<tr>
								<td>Single bidder contract</td>
								<td>
									100: more than 1 bid received<br>
									0: 1 bid received
								</td>
							</tr>
							<tr>
								<td>Length of advertisement period</td>
								<td>
									100: number of days between publication of call for tenders and submission deadline is => 31 days<br>
									50: number of days between publication of call for tenders and submission deadline is between 14 and 30 days<br>
									0: number of days between publication of call for tenders and submission deadline <= 13 days
								</td>
							</tr>
							<tr>
								<td>Call for tenders publication</td>
								<td>
									100: call for tender/prior information notice published in official journal<br>
									0: NO call for tender/prior information notice published in official journal
								</td>
							</tr>
							<tr>
								<td>Procedure type</td>
								<td>
									100: open (open tender)<br>
									50: limited (international competitive bidding, limited tender, local competitive bidding, sole source)<br>
									0: non-open (direct contracting, electronic direct contracting, selective tender)
								</td>
							</tr>
							<tr>
								<td>Length of decision period</td>
								<td>
									100: number of days between submission deadline and announcing contract award is between 2 and 14 days<br>
									0: number of days between submission deadline and announcing contract award is <= 1 OR >= 15 days
								</td>
							</tr>
							<tr>
								<td>Cost overrun</td>
								<td>
									100: relative contract price increase (difference of contract value and estimated bid price in ratio of estimated bid price) < 18%<br>
									0: relative contract price increase (difference of contract value and estimated bid price in ratio of estimated bid price) >= 18%
								</td>
							</tr>
							<tr>
								<td>Winner's contract share</td>
								<td>
									100: the winner’s share is 0%<br>
									0: the winner’s share is 100%<br>
									Continuous number between 0 and 100
								</td>
							</tr>
						</table>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'Definition of Transparency Indicators'">
						<p class="accordion__text">Transparency Indicators measure availability of crucial information in the public procurement notices. These pieces of information are important for monitoring the performance of public contracts. If they are missing, it makes the procedure less transparent and harder to monitor. The high value of the Transparency Indicators indicates a high level of transparency.</p>
						<p class="accordion__text">List of Transparency Indicators in Kenya</p>
						<ul class="accordion__list">
							<li class="accordion__list-item">Buyer's name available</li>
							<li class="accordion__list-item">Year info available</li>
							<li class="accordion__list-item">Contract title available</li>
							<li class="accordion__list-item">Bidder's name available</li>
							<li class="accordion__list-item">Bidder's ID available</li>
							<li class="accordion__list-item">Contract value available</li>
							<li class="accordion__list-item">Procedure type available</li>
							<li class="accordion__list-item">Award date available</li>
							<li class="accordion__list-item">Buyer's location available</li>
							<li class="accordion__list-item">Product/service code available</li>
						</ul>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'Calculation of Transparency Indicators'">
						<table class="accordion__table">
							<tr>
								<th>Indicator name</th>
								<th>Formula</th>
							</tr>
							<tr>
								<td>Buyer's name available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Year info available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Contract title available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Bidder's name available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Bidder's ID available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Contract value available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Procedure type available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Award date available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Buyer's location available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
							<tr>
								<td>Product/service code available</td>
								<td>
									100: information available<br>
									0: information missing
								</td>
							</tr>
						</table>
					</accordion>
				</div>
			</div>
		</div>
	</div>
</section>
