<section class="section">
	<div class="container">
		<div class="section__heading">
			<h1 class="section__heading-title" i18n>About Opentender</h1>
		</div>
		<div class="section__content">
			<div class="about">
				<p class="about__text" i18n>Around one-third of government expenditure is spent globally every year on procuring goods, works and services. Some estimates indicate that corruption increases the cost of government contracts by 20-25%. Corruption in public procurement also compromises widely supported public goals, such as building safe roads, high quality school buildings, or delivering medicine in time.</p>
				<p class="about__text" i18n>Providing comprehensive public procurement information free of charge in an easy-to-use format to all interested parties is expected to increase market transparency, decrease transaction costs, and facilitate government accountability. Hence, opentender.eu, a central, public, and open procurement platform has been set up to contribute to achieving value for money in public procurement as well as increasing integrity throughout the public sector.</p>
				<h2 class="h3 about__title">Data Explainer</h2>
				<p class="about__text" i18n>Here you can find more details on the data and the indicators</p>
				<h2 class="h3 about__title">Who is behind Opentender {{countryName}}?</h2>
				<div class="about__flex-wrap">
					<accordion [title]="'Government Transparency Institute'">
						<p class="accordion__text"><a class="accordion__link" target="_blank" href="http://www.govtransparency.eu">The Government Transparency Institute’s</a> foundation in 2015 was motivated by growing need and opportunity to do independent research and advocacy on transparency, corruption and quality of government in Europe and beyond. The Institute is a non-partisan think tank independent of governments, political parties or special interest groups. The aim of the Institute is to systematically explore the causes, characteristics, and consequences of low quality of government in an inter-disciplinary approach drawing on political science, economics, law, and data science. The Institute aims to aid citizens to hold governments accountable through the publication of large datasets and robust analysis.</p>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="('Integrity Commission of ' + countryName)">
						<p class="accordion__text">The Integrity Commission aims to enable an orderly and corrupt-free society for citizens, residents, visitors and investors while ensuring efficient utilization of public resources. As it strives to discharge its lawful mandate pursuant to the Contractor-General Act, it intends to increase the use of Information Technology to support its business processes, in an effort to more effectively and efficiently, capture and analyze data.</p>
					</accordion>
				</div>
				<div class="about__flex-wrap">
					<accordion [title]="'University of Sussex (Centre for the Study of Corruption)'">
						<p class="accordion__text"><a class="accordion__link" target="_blank" href="https://www.sussex.ac.uk/research/centres/centre-for-study-of-corruption/">The Centre for the Study of Corruption</a> was established in 2012 and has become an international centre of excellence for research, teaching and policy advice on corruption and anti-corruption. Our research spans corruption in politics and public administration, business and sport. In terms of teaching, we offer three Master's level programmes, taught in Brighton, Doha and through distance learning. We engage with governments around the world to provide evidence-based advice on the development of anti-corruption policy.</p>
					</accordion>
				</div>
			</div>
		</div>
	</div>
</section>
