<div class="container container-outer search">
	<div class="container-padded-top container-padded-bottom">
		<search-box [search]="search" [filters]="filters" [search_title]="search_title" (reset)="setDefaultStats()" (onChange)="filtersChange()"></search-box>
	</div>
</div>

<div class="container container-outer container-padded-top-lite">
		<graph *ngIf="viz.procedure_types.active" procedure-types [data]="viz.procedure_types.data" [title]="viz.procedure_types.title"></graph>
		<graph *ngIf="viz.cpvs_codes.active" sectors [data]="viz.cpvs_codes.data"></graph>
		<graph *ngIf="viz.histogram_finalPriceEUR.active" histogram [data]="viz.histogram_finalPriceEUR.data"></graph>
		<graph *ngIf="viz.distribution.active" benchmarks-distribution [data]="viz.distribution.data" [title]="viz.distribution.title"></graph>
</div>

<div class="container container-outer container-padded-top-lite">
	<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);" (columnsChange)="columnsChange($event);" (refreshColumns)="setDefaultColumns()" [storageId]="storageId"></tender-table>
</div>
