@import 'globals';
@import '_sass/all';
@import '../../node_modules/ngx-toastr/toastr.css';

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;

	&-margin {
		margin-top: 50px;
		margin-bottom: 20px;
	}

	&-padded-top {
		padding-top: 20px;
	}
	&-padded-bottom {
		padding-bottom: 20px;
	}

	&-description {
		line-height: 1.4;
		font-size: 18px;
	}
}

img {
	max-width: 100%;
	height: auto;
}
