<div class="page-container page-container_with-borders">
	<section class="hero">
		<div class="container">
			<div class="hero__wrap">
				<div class="hero__img-wrap">
					<img src="/assets/img/hero/hero-img.png" srcset="/assets/img/hero/hero-img@2x.png 2x" alt="" class="hero__img">
				</div>
				<div class="hero__content">
					<div class="main-info-block">
						<p class="main-info-block__accented-text">Some text</p>
						<h2 class="main-info-block__title" i18n="Banner Slogan Main Page|The portal slogan">Making Public Tenders More Transparent</h2>
						<p class="main-info-block__text">
							<ng-container i18n>Welcome to the portal for {{countryname}}!</ng-container>
							<br/>
							<ng-container i18n>This platform is part of the <a target="_blank" rel="noopener" href="http://digiwhist.eu">DIGIWHIST project</a></ng-container>
							<br>
							<ng-container i18n>Subscribe to our <a href="https://opentender.us12.list-manage.com/subscribe/post?u=961461fc5e4bda742e2ffb764&id=896595d352" target="_blank" rel="noopener" >mailing list</a></ng-container>
						</p>
					</div>
				</div>
			</div>
			</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="section__content">
				<div class="card-list">
					<ul class="card-list__list">
						<li class="card-list__item">
							<div class="main-info-block">
								<p class="main-info-block__accented-text">Data overview</p>
								<a [routerLink]="['/dashboards/market-analysis']" i18n-title title="Market Analysis" class="main-info-block__title-link">
									<h3 class="main-info-block__title" i18n>Market Analysis</h3>
								</a>
								<p class="main-info-block__text" i18n>This dashboard provides overview of public procurement markets, helping buyers and bidders to tender more effectively.</p>
							</div>
						</li>
						<li class="card-list__item">
							<div class="main-info-block">
								<p class="main-info-block__accented-text">Search and Find</p>
								<a [routerLink]="['/search']" i18n-title title="Search" class="main-info-block__title-link">
									<h3 class="main-info-block__title" i18n>Search</h3>
								</a>
								<p class="main-info-block__text" i18n>In this section you can search in the data by criteria of your interest. The results are downloadable for detailed examination.</p>
							</div>
						</li>
						<li class="card-list__item">
							<div class="main-info-block">
								<p class="main-info-block__accented-text">Indicators</p>
								<a [routerLink]="['/dashboards/integrity']" i18n-title title="Indicators" class="main-info-block__title-link">
									<h3 class="main-info-block__title" i18n>Integrity</h3>
								</a>
								<p class="main-info-block__text" i18n>This dashboard allows you to analyse and benchmark the degree of transparency in public procurement tenders.</p>
							</div>
						</li>
						<li class="card-list__item">
							<div class="main-info-block">
								<p class="main-info-block__accented-text">Indicators</p>
								<a [routerLink]="['/dashboards/transparency']" i18n-title title="Transparency" class="main-info-block__title-link">
									<h3 class="main-info-block__title" i18n>Transparency</h3>
								</a>
								<p class="main-info-block__text" i18n>This dashboard allows you to analyse and benchmark the degree of transparency in public procurement tenders.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="container-padded">
		<div class="container-outer">
			<div>
				<graph home-histogram [data]="viz.lots_in_years.data"></graph>
			</div>
			<div>
				<home-nutsmap></home-nutsmap>
			</div>
		</div>
	</section>
</div>
