<div class="page-container page-container_with-borders">
	<section class="hero">
		<div class="container">
			<div class="hero__wrap">
				<div class="hero__img-wrap">
					<img src="/assets/img/hero/hero-img.png" srcset="/assets/img/hero/hero-img@2x.png 2x" alt="" class="hero__img">
				</div>
				<div class="hero__content">
					<div class="main-info-block">
						<p class="main-info-block__accented-text">Opentender {{countryname}}</p>
						<h2 class="main-info-block__title" i18n="Banner Slogan Main Page|The portal slogan">Making Public Tenders More Transparent</h2>
						<p class="main-info-block__text">
							<ng-container i18n>Welcome to the Opentender portal of {{countryname}}! It compiles and visualises public procurement information in {{countryname}}.</ng-container>
							<br/>
							<ng-container i18n>This portal is part of the 'Curbing Corruption in Public Procurement' project, that has developed a new methodology for identifying corruption risks in public procurement, funded by the Global Integrity Anti-Corruption Evidence (ACE) programme.</ng-container>
						</p>
					</div>
				</div>
			</div>
			</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="section__content">
				<div class="card-list">
					<ul class="card-list__list">
						<li class="card-list__item">
							<div class="main-info-block">
								<p class="main-info-block__accented-text">Data overview</p>
								<a [routerLink]="['/dashboards/market-analysis']" i18n-title title="Market Analysis" class="main-info-block__title-link">
									<h3 class="main-info-block__title" i18n>Market analysis</h3>
								</a>
								<p class="main-info-block__text" i18n>An overview of public procurement markets, such as market volume broken down by sectors and years, as well as Good Procurement Scores.</p>
							</div>
						</li>
						<li class="card-list__item">
							<div class="main-info-block">
								<p class="main-info-block__accented-text">Indicators</p>
								<a [routerLink]="['/dashboards/integrity']" i18n-title title="Indicators" class="main-info-block__title-link">
									<h3 class="main-info-block__title" i18n>Integrity</h3>
								</a>
								<p class="main-info-block__text" i18n>Analyse and benchmark the degree of <strong>integrity</strong> in public procurement tenders.</p>
							</div>
						</li>
						<li class="card-list__item">
							<div class="main-info-block">
								<p class="main-info-block__accented-text">Indicators</p>
								<a [routerLink]="['/dashboards/transparency']" i18n-title title="Transparency" class="main-info-block__title-link">
									<h3 class="main-info-block__title" i18n>Transparency</h3>
								</a>
								<p class="main-info-block__text" i18n>Analyse and benchmark the degree of <strong>transparency</strong> in public procurement tenders.</p>
							</div>
						</li>
						<li class="card-list__item">
							<div class="main-info-block">
								<p class="main-info-block__accented-text">Search and Find</p>
								<a [routerLink]="['/search']" i18n-title title="Search" class="main-info-block__title-link">
									<h3 class="main-info-block__title" i18n>Search</h3>
								</a>
								<p class="main-info-block__text" i18n>You can search for specific public procurement contracts by criteria of your interest.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="container-padded">
		<div class="container-outer">
			<div>
				<graph home-histogram [data]="viz.lots_in_years.data"></graph>
			</div>
			<div>
				<home-nutsmap></home-nutsmap>
			</div>
		</div>
	</section>
</div>
