<section class="section">
	<div class="container">
		<div class="section__heading">
			<h1 class="section__heading-title" i18n>Partner Network</h1>
		</div>
		<div class="section__content">
			<div class="about">
				<div class="about__group" *ngFor="let group of partnergroups">
					<p class="about__group-label">{{group.name}}</p>
					<div class="about__flex-wrap" *ngFor="let p of group.partner">
						<div class="about__col about__col_w56p">
							<h2 class="h4">{{p.name}}</h2>
							<p class="about__text">
								<span class="partner-icon icon-new-tab"></span> <a target="_blank" rel="noopener" href="{{ p.url }}">{{p.url}}</a><br>
								<span class="partner-icon icon-mail2"></span> <a href="mailto:{{p.contact}}">{{p.contact}}</a><br>
							</p>
						</div>
						<div class="about__col about__col_w32p about__col_ta_c partner-img-container">
							<img class="partner-img" alt="{{p.name}}" src="/assets/img/partner/{{ p.img }}">
						</div>
					</div>
					<div class="current-portal-splitter" *ngIf="group.isCurrent"></div>
				</div>
			</div>
		</div>
	</div>
</section>
