@import "../../../../style/globals.scss";

:host {
  .benchmark-select {
    border: #1954A5 solid 1px;
    border-radius: 4px 4px 0 0 ;
		border-bottom-color: #fff;
  }

  .select-radios, .select-checks {
		margin: 0 1.5%;
		padding: 20px 0;
    vertical-align: top;
    display: inline-block;

    div {
      font-size: 0.9em;
      padding-bottom: 4px;
    }

    label {
      font-size: 0.8em;
      line-height: 2em;
      margin: 0;
      padding: 0 0 0 19px;
      input {
        margin-left: -16px;
      }
    }
  }

  @include respond-to(medium-up) {
    .select-radios, .select-checks {
			width: 30%;
		}
  }
}
